<!-- wp:template-part {"slug":"header-community","tagName":"header"} /-->

<!-- wp:group -->
<div class="wp-block-group">
    <!-- wp:child/text-search {
        "title": "Community",
        "intro": "Connect with fellow travelers who share your curiosity. Share tips, ask questions, and discover real stories from people exploring Korea, Japan, Thailand, and beyond. Whether you're a first-timer or seasoned adventurer, the community is here to inspire, support, and help you travel smarter together.",
        "btn-placeholder": "Search"
    } /-->
    <!-- wp:ileg/imagepost-carousel {"autoplaySeconds":3,"postsToShow":10} /-->
    
    <div style="text-align: right;">
        <!-- wp:ilegiants/cta-bounce {
            "text": "Write a Post",
            "url": "/community/submit-post/",
            "accent": "#FD593C",
            "textColor": "#ffffff",
            "borderColor": "#FD593C"
        } /-->
    </div>

    <!-- new: last 7 days only -->
    <!-- wp:ileg/discover-posts-carousel {
     "sectionTitle":"Published Live Contents", 
     "sectionDescription":"Browse curated articles featuring smart travel strategies, cultural highlights, and destination tips across Korea, Japan, and Thailand. Each guide is crafted to help independent travelers explore deeper, plan smarter, and travel more meaningfully.", 
     "viewAllUrl":"/community/publish-content/",
     "blogRender":"new"
    } /-->

    <!-- old: older than 7 days -->
    <!-- wp:ileg/discover-posts-carousel {
     "sectionTitle":"Explore", 
     "sectionDescription":"Looking for deeper insights, hidden destinations, or smarter travel ideas? Explore more guides, tips, and cultural stories curated to help you plan better, travel independently, and experience Korea, Japan, and Thailand beyond the usual routes.", 
     "viewAllUrl":"/community/discover/",
     "blogRender":"old"
    } /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
