<!-- wp:template-part {"slug":"header-community","tagName":"header"} /-->

<!-- wp:group -->
<div class="wp-block-group">
    <!-- wp:child/discover-grid {
        "title": "Images",
        "intro": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut illum creaturae inspirare.",
        "postsPerPage": 24,
        "rowsDesktop": 5,
        "dateFilterMode": "none",
        "showSearch": true,
        "showCategoryFilter": true,
        "imageMode": true
    } /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
