<!-- wp:template-part {"slug":"header-community","tagName":"header"} /-->

<!-- wp:group -->
<div class="wp-block-group">
    <!-- wp:child/discover-grid {
        "title": "Discover",
        "intro": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut illum creature inspirare.",
        "postsPerPage": 12,
        "rowsDesktop": 3,
        "dateFilterMode": "old",
        "showSearch": true,
        "showCategoryFilter": true
    } /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
