<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<div class="wp-block-group">
    <!-- wp:childtheme/leaflet-map {
        "heading":"Sed Do Eiusmod Tempor",
        "description":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
        "data":"places.json"
    } /-->

    <!-- wp:ileg/card-img {
        "align":"wide",
        "title":"Sed Do Eiusmod Tempor",
        "intro":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
        "dataSource": "places.json",
        "design":"left",
        "items": []
    } /-->

    <!-- wp:ileg/card-img {
        "align":"wide",
        "title":"Sed Do Eiusmod Tempor",
        "intro":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
        "dataSource": "Japan.json",
        "design":"left",
        "items": []
    } /-->

    <!-- wp:ileg/card-img {
        "align":"wide",
        "title":"Sed Do Eiusmod Tempor",
        "intro":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
        "dataSource": "Thailand.json",
        "design":"left",
        "items": []
    } /-->
</div>
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
<!-- /wp:group -->