<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<div class="wp-block-group">
    <!-- wp:childtheme/leaflet-map {
        "heading":"Ultimate Independent Asia Travel Guides",
        "description":"Plan your K-Adventure in Seoul: Gwangjang Market food, Bukhansan hikes, and Gyeongbokgung Palace culture. Unlock local tips.",
        "data":"places.json"
    } /-->

    <!-- wp:ileg/card-img {
        "align":"wide",
        "title":"Seoul Food, Nature, Culture Guide",
        "intro":"Plan your K-Adventure in Seoul: Gwangjang Market food, Bukhansan hikes, and Gyeongbokgung Palace culture. Unlock local tips.",
        "dataSource": "places.json",
        "design":"left",
        "items": []
    } /-->

    <!-- wp:ileg/card-img {
        "align":"wide",
        "title":"Tokyo Food, Parks, Shrines",
        "intro":"Your Sakura Journey in Tokyo: Enjoy Wagyu, relax in Shinjuku Gyoen, and explore Sensō-ji Temple and teamLab Borderless.",
        "dataSource": "Japan.json",
        "design":"left",
        "items": []
    } /-->

    <!-- wp:ileg/card-img {
        "align":"wide",
        "title":"Bangkok Food, Parks, Palace Guide",
        "intro":"Thai Escapes Planners guide: Taste authentic Thai food, relax at Lumphini Park, and visit the iconic Grand Palace.",
        "dataSource": "Thailand.json",
        "design":"left",
        "items": []
    } /-->
</div>
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
<!-- /wp:group -->